<div class="header-left">
  <%# アプリ名 %>
  <div class="app_name">
    <p>スグ食べApp</p>
  </div>
</div>

<div class="header-right">
  <%# devise関係 %>
  <div class="nav">
    <ul class="lists">
      <li><%= link_to 'ログイン', "#", class: "login"%></li>
      <li><%= link_to '新規登録', "#", class: "sign-up"%></li>
    </ul>
  </div>
</div>